

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
  float: right 70%;
}
li {
  padding: 5px 0;
}


li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
  background-color:
}
.col-40 {
  background: rgb(232, 211, 68);
  padding: 30px;
  color: #000;
}
.col-60 {
  background-color: rgba(240, 184, 14, 0.65);
  padding-left: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: solid rgba(5, 52, 158, 0.57);
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}
.img {
  padding-right: auto;
  padding-left: auto;
  padding-top: auto;
  padding-bottom: auto;

  width: 200px;
  height: 200px;t
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
